<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% seo %}
<!-- SEO -->
    <meta name="description" content="NFT, ART, Digital Artists, Crypto, Cryptocurrency, CRBT Token, Creepybits">
    <meta name="author" content="Creepybits">
    <meta name="url" content="http://www.creepybits.github.io">
    <meta name="copyright" content="Creepybits">
    <meta name="robots" content="index,follow">

    <a href="https://user-images.githubusercontent.com/60452756/130225599-a9c385d6-1ffa-4cff-91ea-3f25cd7b02fa.png"></a>
    </head>
